.red {
  background: red;
  font-weight: bold;
  color: #fff;
}
.blue {
  background: blue;
  font-size: 1.5rem;
  color: #fff;
}
.green {
  background: #295e00;
  font-weight: bold;
  color: #fff;
}
h3 {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
.p_Dir {
  //color: #000000;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
.wrap {
  border: 1px dashed #9b9b9b;
  padding: 1rem;
  text-align: center;
  margin: 10px;
}
.pipes {
  text-align: center;
}
