<div class="container">
  <h1>Angular Pipes</h1>

  <p>Wait for it ... {{p | async}}</p>
  <p>Date: {{date | async | date: 'HH:mm:ss, hh MMMM YYYY '}}</p>



  <button class="btn" (click)="searchField = 'title'">Title</button>
  <button class="btn" (click)="searchField = 'text'">Text</button>

  <input type="text" [(ngModel)]="search">

  <hr>

  <button class="btn" (click)="addPost()">Add post</button>

  <div
    *ngFor="let p of post | filterPipe:search:searchField"
    class="card"
  >
    <h3>{{p.d | datePipe}}</h3>
    <h2>{{p.title}}</h2>
    <p>{{p.text}}</p>
  </div>



</div>





