<div class="card">
  <div>
<!--    <p>{{post!.date | date: 'dd.MM.YYY HH:mm z' | lowercase}}</p>-->
    <p>{{post!.date | date: 'dd.MM.YYY HH:mm z' | lowercase}}</p>
    <p>{{post!.id}}</p>
  </div>
  <h2>{{post!.title}}</h2>
  <p>{{post!.text}}</p>

  <button class="btn" (click)="removePost()">&times;</button>

  <ng-content></ng-content>

</div>


<!--// сделай, чтобы если дата сегодняшнее, -->
<!--то выводило просто время,
если вчерашенее, то Yesterday, hh:mm:ss
А если позавчера и далее, то полное ГГ:ММ:ДД ЧЧ:мм:сс-->
<!-- и месяц полностью бы-->
